<ul class="fr-tabs__list" role="tablist" aria-label="">
    <li role="presentation">
        <button id="tabpanel-1"
                class="fr-tabs__tab   fr-tabs__tab--icon-left"
                tabindex="0"
                role="tab"
                aria-selected="{% if bsdtype == "bsdd" %}true{% else %}false{% endif %}"
                aria-controls="tabpanel-1-panel"
                hx-get="{% url 'bsdd' %}"
                hx-trigger="click"
                hx-indicator="#bsd_spinner"
                hx-target="#bsd_wrapper">Déchets dangereux classiques</button>
    </li>
    <li role="presentation">
        <button id="tabpanel-2"
                class="fr-tabs__tab  fr-tabs__tab--icon-left"
                tabindex="-1"
                role="tab"
                aria-selected="{% if bsdtype == "bsda" %}true{% else %}false{% endif %}"
                aria-controls="tabpanel-2-panel"
                hx-get="{% url 'bsda' %}"
                hx-trigger="click"
                hx-indicator="#bsd_spinner"
                hx-target="#bsd_wrapper">Amiante</button>
    </li>
    <li role="presentation">
        <button id="tabpanel-3"
                class="fr-tabs__tab  fr-tabs__tab--icon-left"
                tabindex="-1"
                role="tab"
                aria-selected="{% if bsdtype == "bsff" %}true{% else %}false{% endif %}"
                aria-controls="tabpanel-3-panel"
                hx-get="{% url 'bsff' %}"
                hx-trigger="click"
                hx-indicator="#bsd_spinner"
                hx-target="#bsd_wrapper">Fluides frigorigènes</button>
    </li>
    <li role="presentation">
        <button id="tabpanel-4"
                class="fr-tabs__tab  fr-tabs__tab--icon-left"
                tabindex="-1"
                role="tab"
                aria-selected="{% if bsdtype == "bsdasri" %}true{% else %}false{% endif %}"
                aria-controls="tabpanel-4-panel"
                hx-get="{% url 'bsdasri' %}"
                hx-trigger="click"
                hx-indicator="#bsd_spinner"
                hx-target="#bsd_wrapper">Activité de Soins à Risques Infectieux</button>
    </li>
</ul>
