[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
sqlalchemy = "~=1.4"
psycopg2-binary = "*"
django-environ = "*"
whitenoise = "*"
pytest-django = "*"
sentry-sdk = {extras = ["django"], version = "*"}
polars = "*"
pyarrow = "*"
plotly = "*"
gunicorn = "*"
factory-boy = "*"
adbc-driver-manager = "*"
adbc-driver-postgresql = "*"

[dev-packages]
isort = "*"
djlint = "*"
django-debug-toolbar = "*"
django-extensions = "*"
ipykernel = "*"
ruff = "*"

[requires]
python_version = "3.11"
