adbc-driver-manager>=1.8.0
django-debug-toolbar<6
django-extensions>=4.1
adbc-driver-postgresql>=1.8.0
clickhouse-sqlalchemy>=0.2.3
django>=5.2.8
django-environ>=0.12.0
gunicorn>=23.0.0
paramiko<4
plotly>=6.4.0
polars==1.27.0
psycopg2-binary>=2.9.11
pyarrow>=22.0.0
sentry-sdk[django]>=2.43.0
sqlalchemy==1.4
sshtunnel>=0.4.0
whitenoise>=6.11.0
