{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Carte des régions, départements et installations</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"
              href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
              integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
              crossorigin="" />
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
                integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
                crossorigin=""></script>
        <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
        <link rel="stylesheet" href="{% static "css/map.css" %}" />
        <link rel="stylesheet" href="{% static "css/dsfr.main.min.css" %}" />
        <link rel="stylesheet" href="{% static "css/style.css" %}" />
    </head>
    <body style="margin: 0;">
        <!-- Define SVG pattern -->
        <svg width="0" height="0" style="position:absolute; z-index: -1;">
            <defs>
            <pattern id="stripes" patternUnits="userSpaceOnUse" width="4" height="4" patternTransform="rotate(45)">
            <!-- Rect de couleur de fond pour le motif -->
            <rect width="4" height="4" fill="rgba(86, 26, 2, 0.7)"></rect>
            <!-- Rayures par-dessus la couleur de fond -->
            <rect width="2" height="4" fill="white"></rect>
            </pattern>
            </defs>
        </svg>
        <div id="page-container">
            <div id="viz-options">
                <div class="fr-select-group">
                    <label class="fr-label" for="year-select">Année :</label>
                    <select class="fr-select" id="year-select" name="select-annee">
                        <option selected value="2023">2023</option>
                        <option value="2022">2022</option>
                    </select>
                    <label class="fr-label" for="rubrique-select">Rubrique :</label>
                    <select class="fr-select" id="rubrique-select" name="select-rubrique">
                        <option selected value="2790">2790</option>
                        <option value="2760-1">2760-1</option>
                    </select>
                    <label class="fr-label" for="layer-select">Choisissez une vue pour la carte :</label>
                    <select class="fr-select" id="layer-select" name="select-vue-carte">
                        <option selected value="regions">Régionale</option>
                        <option value="departements">Départementale</option>
                    </select>
                </div>
                <div class="fr-toggle">
                    <input type="checkbox"
                           class="fr-toggle__input"
                           aria-describedby="toggle-installations-hint-text"
                           id="toggle-installations">
                    <label class="fr-toggle__label"
                           for="toggle-installations"
                           data-fr-checked-label="Activé"
                           data-fr-unchecked-label="Désactivé">Afficher les installations</label>
                    <p class="fr-hint-text" id="toggle-installations-hint-text">Cliquez pour afficher les ICPE sur la carte.</p>
                </div>
            </div>
            <div id="main-container">
                <div id="map"></div>
                <div id="graphs"></div>
                <div id="region-info">
                    <h3 id="region-name">France</h3>
                    <div id="region-nombre-installations"></div>
                    <div id="region-quantite-autorisee"></div>
                    <div id="region-quantite-traitee"></div>
                    <div id="region-ratio-traitement"></div>
                </div>
            </div>
        </div>
        <script src="{% static "js/map.js" %}"></script>
        <script>
const regionsGeoJSONUrl = '{% static "data/2790_installations_regions.geojson" %}';
const departementsGeoJSONUrl = '{% static "data/2790_installations_departements.geojson" %}';
const installationsGeoJSONUrl = '{% static "data/2790_installations.geojson" %}';

// Initialize map
var map = L.map('map').setView([46.2276, 2.2137], 5); // Centre de la France

L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 18,
    attribution: 'Données de la carte &copy; contributeurs d\'OpenStreetMap'
}).addTo(map);

// States
var geojsonRegions, geojsonDepartements, geojsonInstallations, icpeData;
selectedYear = document.getElementById('year-select').value;
selectedRubrique = document.getElementById('rubrique-select').value;
selectedLayer = document.getElementById('layer-select').value;
installationsToggled = document.getElementById('toggle-installations').checked;
currentLayer = null;
currentSelectedLayer = null;


// Charger et stocker les données icpe
loadGeoJSONData(`/stats/icpe/${selectedYear}`).then(function(data) {
    icpeData = data;
    
    initMapForRubrique(icpeData, selectedRubrique)
    setInstallations()

    
}).catch(function(error) {
    console.error('Erreur lors du chargement des régions:', error);
})


var legend = L.control({ position: 'bottomright' });

legend.onAdd = function (map) {
    // Create a div for the legend
    var div = L.DomUtil.create('div', 'info legend');
    
    // Create a gradient bar for the scale
    var grades = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]; // The intervals to show on the color scale
    var labels = [];
    var from, to;

    labels.push('<div>% de la quantité autorisée consommée</div>')

    labels.push(
        '<i style="background-color:#2f3640"></i> Pas de quantité autorisée');
    // Loop through intervals and generate a label with colored square for each
    for (var i = 0; i < grades.length -1; i++) {
        from = grades[i];
        to = grades[i + 1];

        labels.push(
            '<i style="background:' + colorScale(from/100) + '"></i> ' +
            from + (to ? ' &ndash; ' + to : '+'));
    }

    // Add one more label for values over 100
    labels.push(
        '<i class="stripe-pattern"></i> 100+');

    // Insert the labels into the div as inner HTML
    div.innerHTML = labels.join('<br>');

    return div;
};

// Add the legend to the map
legend.addTo(map);

        </script>
    </body>
</html>
