#page-container {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

#viz-options {
    display: flex;
    justify-content: center;
    align-items: self-start;
    gap: 30px;
    margin-bottom: 20px;
    padding: 10px;
}

#map {
    flex-grow: 1;
    width: 100%;
}



.legend {
    padding: 6px 8px;
    font-size: 14px;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 48px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.stripe-pattern {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg%20height%3D%22100%25%22%20width%3D%22100%25%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpattern%20id%3D%22diaHatch%22%20width%3D%229%22%20height%3D%221%22%20patternUnits%3D%22userSpaceOnUse%22%20patternTransform%3D%22rotate(45)%22%3E%3Crect%20x%3D%220%22%20y%3D%220%22%20width%3D%224%22%20height%3D%222%22%20fill%3D%22rgba(86%2C%2026%2C%202%2C%200.7)%22%20%2F%3E%3C%2Fpattern%3E%3Crect%20x%3D%220%22%20y%3D%220%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20fill%3D%22url(%23diaHatch)%22%20%2F%3E%3C%2Fsvg%3E");
    background-size: contain;
}

#side-container {
    min-width: 40%;
}

#region-info {

    padding: 20px;
    background: white;
    border: 1px solid #ddd;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

#address-info {
    margin-bottom: 24px;
}

#address-info p {
    margin: 0;
}

#main-container {
    flex-grow: 1;
    width: 100%;
    display: flex;
}

.leaflet-control-zoom a {
    /* Important car le DSFR ajoute sinon une barre au boutons de contrôle de Zoom de leaflet */
    background-image: unset;

}

.leaflet-control-zoom a:hover, .leaflet-control-zoom a:focus {
    background-color: #f4f4f4 !important;

}