name: TD Stats publiques CI

on: pull_request

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: admin
          POSTGRES_DB: td_stats_test
        ports: [ "5432:5432" ]
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - name: Set locales
        run: sudo apt-get install -y tzdata locales && sudo locale-gen fr_FR && sudo dpkg-reconfigure --frontend=noninteractive locales
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v6
      - uses: actions/setup-python@v5
        with:
          python-version-file: "pyproject.toml"

      - name: Install python dependencies
        run: |
          uv sync --group test

      - name: Ruff lint
        run: uv run ruff check .

      - name: Ruff format
        run: uv run ruff format --check .

      - name: Run Tests
        working-directory: src
        run: uv run --no-sync pytest
        env:
          DJANGO_SETTINGS_MODULE: core.settings.test
          DATABASE_URL: postgresql://admin:postgres@localhost/inspection_test
          DWH_USERNAME: clickhouse_user
          DWH_PASSWORD: clickhouse_password
          DWH_PORT: 8123
          DWH_SSH_HOST: clickhouse_ssh_host
          DWH_SSH_PORT: 22
          DWH_SSH_USERNAME: clickhouse_ssh_user
          DWH_SSH_KEY: MY_PRIVATE_SSH_KEY
          ADMIN_SLUG: admin
          MESSAGE_RECIPIENTS: lorem@ipsum.lol
